body{
  margin:0;
}

.topBar{
  background-color: #ECFF00;
  width:100%;
  position:fixed;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.topBar h1{
  font-size: 5em;
  font-style:italic;
}
