body{
  margin:0;
  background-color: #000;
}

.topBar{
  background-color: #ECFF00;
  width:100%;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.topBar h1{
  font-size: 5em;
  font-style:italic;
  margin: 0;
  padding: 25px 0px 25px 0px;
}

.landingPage{
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: lightgrey;
  font-family: 'Orbitron', sans-serif;
  font-style: italic;
}

h1{
  padding-top: 50px;
}

.landingPage p{
  margin-top: 20px;
}

.runnerNameInput{
  width: 400px;
  font-size: 1.5em;
}

.selectRunner{
  display:inline-block;
  margin: 5px 10px 5px 10px;
}

label{
  font-size: 0.8em;
  margin-right: 15px;
}

#blueSelect{
  color: #3019FF;
}

#greenSelect{
  color: #4CB479;
}

#pinkSelect{
  color: #FD72D0;
}

#orangeSelect{
  color: #FCAB75;
}

#redSelect{
  color: #BF0404;
}

.btn-success{
  margin: 20px 0px 20px 0px;
}

.menu{
  width: 50%;
  margin: auto;
  padding-bottom: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: lightgrey;
  font-family: 'Orbitron', sans-serif;
  font-style: italic;
}

.menu div{
  margin-top: 50px;
}

.menu a{
  border: solid 3px #ECFF00;
  margin: 5px;
  padding:35px 35px 15px 15px;
  font-size:6em;
  text-decoration: none;
  color: #000;
}

.menu a:hover{
  color:#ECFF00;
  border-color: black;
}

.changeShoesButton{
  font-size: 0.8em;
}

.trainingPage{
  width: 50%;
  margin: auto;
  padding-bottom: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: lightgrey;
  font-family: 'Orbitron', sans-serif;
  font-style: italic;
}

.trainingPlan a{
  margin: 5px;
  padding:5px;
  text-decoration: none;
  color: #000;
}

.trainingPlan a:hover{
  color:#ECFF00;
  border-color: black;
}

.racePage{
  width: 50%;
  margin: auto;
  padding-bottom: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: lightgrey;
  font-family: 'Orbitron', sans-serif;
  font-style: italic;
}

.trainingPlan a{
  margin: 5px;
  padding:5px;
  text-decoration: none;
  color: #000;
}

.trainingPlan a:hover{
  color:#ECFF00;
  border-color: black;
}

.race a{
  margin: 5px;
  padding:5px;
  text-decoration: none;
  color: #000;
}

.race a:hover{
  color:#ECFF00;
  border-color: black;
}

.shoePage{
  width: 50%;
  margin: auto;
  padding-bottom: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: lightgrey;
  font-family: 'Orbitron', sans-serif;
  font-style: italic;
}

.shoePage a{
  margin: 5px;
  padding:5px;
  text-decoration: none;
  color: #000;
}

.shoePage a:hover{
  color:#ECFF00;
  border-color: black;
}

.singleTrainingPage{
  width: 50%;
  margin: auto;
  padding-bottom: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: lightgrey;
  font-family: 'Orbitron', sans-serif;
  font-style: italic;
}

.singleRacePage{
  width: 50%;
  margin: auto;
  padding-bottom: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: lightgrey;
  font-family: 'Orbitron', sans-serif;
  font-style: italic;
}

@keyframes runnerAnimation{
    0%{
      left: 2%;
    }
    15%{
      left: 10%;
    }
    50%{
      left:50%
    }
    75%{
      left:80%
    }
    100%{
      left: 95%;
    }
}

.animatedRunner img{
  float: left;
  position: relative;
  animation: runnerAnimation 5s linear;

}

.animatedRacer img{
  float: left;
  position: relative;
  animation: runnerAnimation 5.5s linear;
}

.animatedRunnerDNF img{
  
}




.hide{
  display:none;
}
